html, body {
  margin: 0;
}

* {
  font-family: 'Ubuntu', sans-serif;
  --red-color: #F16D6E;
  --gray-color: #E0E0DF;
  --green-color: #60C3AB;
  --dark-gray-color: #637888;
}

h3 {
  font-weight: 400;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
}

input, select {
  border: transparent;
  border-radius: 50px;
  margin: 10px;
  padding: 5px;
}

select {
  text-align: center;
}

.header img {
  height: 40px;
  padding-right: 15px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
}

.form-section {
  background-color: var(--green-color);
  color: white;
}

.submit-button {
  background-color: white;
}

.books-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 20px 20px;
}

.book {
  background-color: var(--red-color);
  color: white;
  padding: 20px;
  border-radius: 5px;
}